<div class="auth-card">
  <div class="auth-image"></div>

  <div class="auth-form-container">
    <div class="auth-form">
      <h2 class="text-center mb-4">Recuperar Contraseña</h2>

      @if (!submitted) {
        <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
          <div class="mb-3">
            <label for="email" class="form-label">Correo registrado</label>
            <div class="input-group">
              <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
              <input id="email" type="email" class="form-control" placeholder="ej: usuario@hotelsoft.com" formControlName="email">
            </div>

            @if (email.invalid && (email.dirty || email.touched)) {
              <div class="text-danger">
                @if (email.hasError('required')) {
                  <small>El correo es obligatorio</small>
                }
                @if (email.hasError('email')) {
                  <small>Debe ser válido</small>
                }
              </div>
            }
          </div>

          <div class="d-grid mb-3">
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Enviar enlace</button>
          </div>

          <div class="text-center">
            <a class="nav-link" routerLink="/login">Volver a Iniciar Sesión</a>
          </div>
        </form>
      }

      @if (submitted) {
        <div class="alert alert-success text-center">
          <i class="bi bi-check-circle-fill text-success"></i>
          Se ha enviado un enlace de recuperación a tu correo.
        </div>
        <div class="text-center mt-3">
          <a routerLink="/login" class="btn btn-success">Ir a Login</a>
        </div>
      }
    </div>
  </div>
</div>
