<div class="conditions-container">
    <div class="row">
        <h2 class="text-white text-center mb-5">Términos y Condiciones</h2>
    </div>
    <div class="row justify-content-center">
        <div class="bg-white p-4 rounded-4 shadow-sm" style="width: 500px;">
            <p>
                HotelSotf es una aplicación que permite a los usuarios reservar habitaciones en hoteles.<br>
                Al usar la app, aceptas que tus datos personales (como nombre, correo y número de teléfono) sean usados
                únicamente para:
            </p>

            <p>
                Crear y mantener tu cuenta.<br>
                Gestionar y confirmar tus reservas.<br>
                Verificar tu identidad cuando sea necesario.
            </p>

            <p>
                No se realizan pagos dentro de la aplicación.<br>
                Tus datos no se comparten con terceros fuera del proceso de reserva.
            </p>

            <p>
                Puedes solicitar la eliminación de tu cuenta o verificar tu información en cualquier momento a través
                del
                botón “Contacto” disponible en la app.
            </p>

            <p>
                HotelSotf puede actualizar esta política en cualquier momento, notificando los cambios dentro de la
                aplicación.
            </p>

        </div>
    </div>
</div>