<div class="profile-container">
    <h2 class="text-white text-center mb-5">Perfil</h2>
    <div class="d-flex justify-content-center">
        <div class="card mb-3" style="width: 50em;">
            <div class="row g-0">
                <div class="col-md-5">
                    <img src="https://res.cloudinary.com/dvkvps1fy/image/upload/v1760982651/HotelSoftLogin_ek9stj.png"
                        class="img-fluid rounded-start h-100 w-100 object-fit-cover" alt="..." style="opacity: .7;">
                </div>
                <div class="col-md-7">
                    <div class="card-body p-4">
                        <div class="mb-3">
                            <span class="text-secondary">#{{ user.id }}</span>
                        </div>
                        <form #profileForm="ngForm" (ngSubmit)="updateProfile()" novalidate>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="cedula" name="cedula" placeholder="Cédula"
                                    [(ngModel)]="user.cedula" required readonly disabled>
                                <label for="cedula" class="form-label">Cédula</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Nombre"
                                    [(ngModel)]="user.nombreCompleto" required>
                                <label for="name" class="form-label">Nombre</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="email" name="email"
                                    placeholder="Correo Electrónico" [(ngModel)]="user.email" required email>
                                <label for="email" class="form-label">Correo Electrónico</label>
                            </div>
                            <div class="form-floating mb-4">
                                <input type="text" class="form-control" id="phone" name="phone" placeholder="Teléfono"
                                    [(ngModel)]="user.telefono">
                                <label for="phone" class="form-label">Teléfono</label>
                            </div>
                            <div class="d-flex justify-content-start align-items-center gap-3">
                                <button type="submit" class="btn btn-primary">Actualizar Perfil</button>
                                <a href="/reset-password">Cambiar Contraseña</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>