<div class="home-container">
  <div class="container my-5">
    <!-- Título de bienvenida -->
    <div class="row mb-4">
      <div class="col-12 text-center">
        <h1 class="welcome-title">Bienvenido a HotelSoft</h1>
        <p class="welcome-subtitle">Descubre nuestras habitaciones y vive una experiencia única</p>
      </div>
    </div>
    <div class="row justify-content-center mb-5">
      <div class="col-lg-10">
        <div id="hotelCarousel" class="carousel slide custom-carousel">
          <div class="carousel-indicators">
            @for (room of carouselRooms; track $index) {
            <button type="button" data-bs-target="#hotelCarousel" [attr.data-bs-slide-to]="$index"
              [ngClass]="$index === 0 ? 'active' : ''" aria-current="true"
              aria-label="{{ room.nombreHabitacion }}"></button>
            }
          </div>

          <div class="carousel-inner rounded">
            @for (room of carouselRooms; track $index) {
            <!-- Habitación Deluxe -->
            <div [ngClass]="$index === 0 ? 'carousel-item active' : 'carousel-item'">
              <div class="carousel-content">
                <img src="{{ room.imagenes[0] }}" class="d-block w-100" alt="{{ room.nombreHabitacion }} - HotelSoft">
                <div class="carousel-caption-custom">
                  <h5>{{ room.nombreHabitacion }}</h5>
                  <p>{{ room.descripcion}}</p>
                  <h4 class="price">{{ room.precio | currency:'COP':'symbol':'1.0' }} / noche</h4>
                  <button type="button" class="btn btn-primary" (click)="openBookingModal(room)">Reservar ahora</button>
                </div>
              </div>
            </div>
            }
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#hotelCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#hotelCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
          </button>
        </div>
      </div>
    </div>

    <!-- Sección de habitaciones -->
    <div class="special-offers">
      <div class="row">
        <div class="col-12">
          <h2 class="section-title">Nuestras Habitaciones</h2>
          <div class="bg-white p-4 rounded-3 shadow-sm mb-5">
            <form #roomSearchFilter="ngForm">
              <div class="row">
                <div class="col-3">
                  <div class="form-floating">
                    <select name="roomType" id="roomType" class="form-select" [(ngModel)]="roomSearchParams.type">
                      <option value="" selected>Seleccione una opción</option>
                      <option value="SENCILLA">Sencilla</option>
                      <option value="DOBLE">Doble</option>
                      <option value="SUITE">Suite</option>
                      <option value="FAMILIAR">Familiar</option>
                    </select>
                    <label for="roomType">Tipo de Habitación</label>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-floating">
                    <input type="date" class="form-control" id="checkInDate" name="checkInDate"
                      placeholder="Fecha de Inicio" [(ngModel)]="roomSearchParams.checkInDate">
                    <label for="checkInDate">Fecha de Inicio</label>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-floating">
                    <input type="date" class="form-control" id="checkOutDate" name="checkOutDate"
                      placeholder="Fecha de Fin" [(ngModel)]="roomSearchParams.checkOutDate">
                    <label for="checkOutDate">Fecha de Fin</label>
                  </div>
                </div>
                <div class="col-3">
                  <button type="submit" class="btn btn-primary w-100 h-100" (click)="searchRooms()">Buscar</button>
                </div>
              </div>
            </form>
          </div>

          @if (rooms.length) {
          <div class="rooms-grid">
            <!-- Card Habitacion -->
            @for (room of rooms; track $index) {
            <div class="room-card">
              <div class="room-image">
                <img src="{{room.imagenes[0]}}" alt="{{room.nombreHabitacion}}" />
              </div>

              <div class="room-content">
                <div class="room-header">
                  <h3 class="room-name">{{room.nombreHabitacion}}</h3>
                  @switch (room.tipoHabitacion) {
                  @case ('SENCILLA') {
                  <span class="room-type-badge simple">{{ room.tipoHabitacion | uppercase }}</span>
                  }
                  @case ('DOBLE') {
                  <span class="room-type-badge double">{{ room.tipoHabitacion | uppercase }}</span>
                  }
                  @case ('SUITE') {
                  <span class="room-type-badge suite">{{ room.tipoHabitacion | uppercase }}</span>
                  }
                  @case ('FAMILIAR') {
                  <span class="room-type-badge familiar">{{ room.tipoHabitacion | uppercase }}</span>
                  }
                  }
                </div>

                <div class="room-details">
                  <p class="room-description">{{room.descripcion}}</p>

                  <div class="price-info">
                    <span class="price">{{room.precio | currency:'COP':'symbol':'1.0'}} / noche</span>
                  </div>

                  <div class="feature-grid">
                    @for (comodidad of room.comodidades; track $index) {
                    <span class="feature">{{ getAmenityData(comodidad).label }}</span>
                    }
                  </div>
                </div>

                <button type="button" class="room-btn" (click)="openBookingModal(room)">Reservar</button>
              </div>
            </div>
            }
          </div>
          } @else {
          <div class="text-center py-4 text-muted">
            No se encontraron habitaciones.
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Reserva -->
<div class="modal fade" id="bookingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="bookingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="bookingModalLabel">Reserva</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-5">
        <form #bookingForm="ngForm" novalidate>
          <!-- Datos del Titular -->

          <!-- Nombre del Titular -->
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="nombreTitular" name="nombreTitular"
              placeholder="Nombre del Titular" [(ngModel)]="booking.nombreTitular" required #nombreTitular="ngModel"
              [ngClass]="bookingFormSubmitted && nombreTitular.invalid ? 'is-invalid' : '' " />
            <label for="nombreTitular">Nombre del Titular</label>

            @if (bookingFormSubmitted && nombreTitular.invalid) {
            <div class="invalid-feedback">
              El nombre del titular es obligatorio.
            </div>
            }
          </div>

          <!-- Email del Titular -->
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="email" name="email" placeholder="Email"
              [(ngModel)]="booking.email" required email #email="ngModel"
              [ngClass]="bookingFormSubmitted && email.invalid ? 'is-invalid' : '' " />
            <label for="email">Email</label>

            @if (bookingFormSubmitted && email.invalid) {
            <div class="invalid-feedback">
              El email del titular es obligatorio.
            </div>
            }
          </div>

          <!-- Teléfono del Titular -->
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Teléfono"
              [(ngModel)]="booking.telefono" required pattern="^[0-9]+$" #telefono="ngModel"
              [ngClass]="bookingFormSubmitted && telefono.invalid ? 'is-invalid' : '' " />
            <label for="telefono">Teléfono</label>

            @if (bookingFormSubmitted && telefono.invalid) {
            @if (telefono.errors?.['required']) {
            <div class="invalid-feedback">
              El teléfono del titular es obligatorio.
            </div>
            }
            @if (telefono.errors?.['pattern']) {
            <div class="invalid-feedback">
              El teléfono del titular debe ser un número válido.
            </div>
            }
            }
          </div>

          <!-- Fecha de entrada -->
          <div class="form-floating mb-3">
            <input type="date" class="form-control" id="fechaEntrada" name="fechaEntrada" placeholder="Fecha de Entrada"
              [min]="getCurrentDate() | date:'yyyy-MM-dd'"
              [max]="booking.fechaSalida ? (booking.fechaSalida | date:'yyyy-MM-dd') : null"
              [(ngModel)]="booking.fechaEntrada" required #fechaEntrada="ngModel"
              [ngClass]="bookingFormSubmitted && fechaEntrada.invalid ? 'is-invalid' : '' " />
            <label for="fechaEntrada">Fecha de Entrada</label>
            @if (bookingFormSubmitted && fechaEntrada.invalid) {
            <div class="invalid-feedback">
              La fecha de entrada es obligatoria.
            </div>
            }
          </div>

          <!-- Fecha de salida -->
          <div class="form-floating mb-3">
            <input type="date" class="form-control" id="fechaSalida" name="fechaSalida" placeholder="Fecha de Salida"
              [min]="booking.fechaEntrada ? (booking.fechaEntrada | date:'yyyy-MM-dd') : getCurrentDate() | date:'yyyy-MM-dd'"
              [(ngModel)]="booking.fechaSalida" required #fechaSalida="ngModel"
              [ngClass]="bookingFormSubmitted && fechaSalida.invalid ? 'is-invalid' : '' " />
            <label for="fechaSalida">Fecha de Salida</label>
            @if (bookingFormSubmitted && fechaSalida.invalid) {
            <div class="invalid-feedback">
              La fecha de salida es obligatoria.
            </div>
            }
          </div>

          @if (booking.fechaEntrada && booking.fechaSalida) {
          <div class="mb-3">
            <span>Sumas +{{ calculateObtainablePoints() }} puntos con esta reserva</span>
          </div>
          }

          <!-- Método de pago -->
          <div class="mt-5">
            <div class="list-group">
              <a role="button" class="list-group-item list-group-item-action list-group-item-info"
                [ngClass]="paymentMethod === 'pointsCash' ? 'active' : ''" (click)="paymentMethod = 'pointsCash'">
                <div class="d-flex align-items-center gap-3">
                  <input class="form-check-input me-1" type="radio" name="paymentMethodRadio" value="pointsCash"
                    id="pointsCash" [(ngModel)]="paymentMethod">
                  <div>
                    <h5>Puntos + Dinero</h5>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" aria-label="points" placeholder="Points"
                        [value]="currentUser.puntos" [(ngModel)]="booking.puntos" name="pointsToUse" readonly>
                      <span class="input-group-text">+</span>
                      <input type="text" class="form-control" placeholder="Server" aria-label="Server"
                        [value]="calculateBookingTotal() | currency:'COP':'symbol-narrow':'1.0'" readonly>
                    </div>
                  </div>
                </div>
              </a>
              <a role="button" class="list-group-item list-group-item-action list-group-item-info"
                [ngClass]="paymentMethod === 'cash' ? 'active' : ''" (click)="paymentMethod = 'cash'">
                <div class="d-flex align-items-center gap-3">
                  <input class="form-check-input me-1" type="radio" name="paymentMethodRadio" value="cash" id="cash"
                    [(ngModel)]="paymentMethod">
                  <div>
                    <h5>Solo dinero</h5>
                    <label for="cash" class="form-check-label fw-bold">{{ calculateBookingTotal() |
                      currency:'COP':'symbol':'1.0'
                      }}</label>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </form>

        <!-- <p class="mt-5 fw-bold">Total: {{ calculateBookingTotal() | currency:'COP':'symbol':'1.0' }}</p> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="createBooking(bookingForm)">Reservar</button>
      </div>
    </div>
  </div>
</div>